@model Biblioteca_EntityFramework.Models.Libro

<h1>Create</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stato" class="control-label"></label>
                <select asp-for="stato" class="form-control">
                    <option value=@Stato.Disponibile>Disponibile</option>
                    <option value=@Stato.InPrestito>In Prestito</option>
                </select>
                <span asp-validation-for="stato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroDiPagine" class="control-label"></label>
                <input asp-for="numeroDiPagine" class="form-control" />
                <span asp-validation-for="numeroDiPagine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="AutoriSelect[]">Scegli Autori tra quelli presenti nel DB(ctrl + click per selezione multipla)</label>
                <select name="AutoriSelect[]" id="autoriPresenti" multiple>
                    @foreach (Autore autore in ViewData["listaAutoriAll"] as List<Autore>)
                    {
                        <option value="@autore.Nome,@autore.Cognome,@autore.DataNascita">@autore.Nome @autore.Cognome</option>
                    }
                </select>
            </div>
            <button id="addAutore" class="btn btn-primary">Aggiungi Autore</button>
            <div class="form-group my-3" id="autoriGroup"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let i = 0;
        const autoriGroup = document.getElementById("autoriGroup");
        document.getElementById("addAutore").addEventListener("click",
            () =>{
                event.preventDefault();

                const inputNameLabel = document.createElement("label");
                inputNameLabel.innerText = "Nome autore da aggiungere nr. " + (i + 1);
                const inputName = document.createElement("input");
                inputName.name = `Autori[${i}].Nome`;
                inputName.type = "text";
                inputName.classList = "mb-3 form-control";

                const inputLastNameLabel = document.createElement("label");
                inputLastNameLabel.innerText = "Cognome autore da aggiungere nr. " + (i + 1);
                const inputLastName = document.createElement("input");
                inputLastName.name = `Autori[${i}].Cognome`;
                inputLastName.type = "text";
                inputLastName.classList = "mb-3 form-control";
                
                const inputDateLabel = document.createElement("label");
                inputDateLabel.innerText = "data di nascita autore da aggiungere nr. " + (i + 1);
                const inputDate = document.createElement("input");
                inputDate.name = `Autori[${i}].DataNascita`;
                inputDate.type = "date";
                inputDate.classList = "mb-3 form-control";
                i++;

                autoriGroup.appendChild(inputNameLabel);
                autoriGroup.appendChild(inputName);

                autoriGroup.appendChild(inputLastNameLabel);
                autoriGroup.appendChild(inputLastName);

                autoriGroup.appendChild(inputDateLabel);
                autoriGroup.appendChild(inputDate);
            }
        );
    </script>
}
